<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHub</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>        
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>
        <h1>Hobby Hub</h1>
        <div>
        <ul>
          <li class="navbar"><a class="active" href="#home">Home</a></li>
          <li class="navbar"><a href="#quiz">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="#tips">Tips and Tricks</a></li>
          <li class="navbar"><a href="#start">How to Start Your Hobby</a></li>
        </ul>
        </div> <br>
        <div class="divText">
        <h2>About Us:</h2>
        <p> Our mission is to help everyone find a hobby that suits them perfectly. Our goal is to get everyone interested in something that can either help them find their perfect career, something to help them relieve stress, or fill up empty space during the weekend. </p>
        </div>
        <p></p>
    </body>
</html> 